# console
click
click-log

# testing
pytest
pytest-cov
pytest-mock
pytest-sugar

# data
factory_boy
pytest-factoryboy

# linting
flake8==3.3.0  # flake8-print compatibility
pep8-naming
flake8-print
flake8-todo
flake8-isort
